.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;/*画面サイズが変わっても、中央に来るように設定*/
    padding: 20px 15px;
    max-width: 1230px;/*画面サイズが変わってもinner部分は1230px*/
}

.header-untitles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.header-nav__link {
    text-decoration: none;
    color: #fff;
}